/* Arquivo: myStyles.css
   Autor: Vladimir Belinski
   Descrição: o presente arquivo faz parte da resolução do primeiro trabalho do CCR Tópicos Especiais em Desenvolvimento Web,
   			  CC-UFFS 2017.1, ministrado pela professora Ma. Andressa Sebben. Nele podem ser encontradas as customizações de
			  estilo realizadas nos elementos (tags, classes, divs, etc) utilizados no trabalho.
*/

/* Customização do menu de navegação */
nav ul a,
nav .brand-logo {
    color: #444;
}

/* Customização do botão de menu colapsado */
.button-collapse {
    color: #26a69a;
}

/* Customização de um breadcrumb */
.breadcrumb {
	margin-left: 20px;
}

/* Customização da div onde se encontram os breadcrumbs*/
.my_breadcrumbs {
	height:25px;
	line-height: 25px;
}

/* Customização dos parágrafos (tag <p> e <p> com classe notes) */
p {
    line-height: 2rem;
}

p.notes {
	color: #9e9e9e;
	font-size: 0.8rem;
}

/* Customização de bloco de texto com ícone ('index.html') */
.icon-block {
    padding: 0 15px;
}

/* Customização de ícones */
.icon-block .material-icons {
    font-size: inherit;
}

/* Customização do rodapé da página */
footer.page-footer {
    margin: 0;
}

/* Customização da tag <figure> */
figure {
    width: 100%;
    margin: 0;
    margin-top: 17px;
}

/* Customização da tag <figcaption> */
figcaption {
    text-align: center;
	padding-bottom: 10px;
}

/* Customização da div de inputs do tipo radio ('audit.html') */
.radio-box {
	margin-left: 32px;
}

/* Customização das imagens dos cards dos artistas ('artists.html') */
.artists {
	height: 190px;
	max-width: 100%;
	overflow: hidden;
}

/* Customização do conteúdo dos cards de notícias ('news.html') */
.news {
	height: 200px;
}

/* Customização da div de conteúdo do collapsible da página 'about.html' */
#info_collapsible {
	margin-top: 17px;
}

/* Customizações do mapa ('about.html') */
.containerMap {
	overflow: hidden;
	max-width: 100%;
	position: relative;
	padding-bottom: 58.25%;
	height: 0;
	margin-bottom: 30px;
}

.containerMap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Customizações do carousel ('about.html') */
.carousel {
  height: 150px;
	margin-bottom: 25px;
}

.carousel .carousel-item {
  width: 150px;
  height: 0;
}

/* Customizações do tap target ('news.html') */
.tap-target-wrapper {
	right: -348px;
	bottom: -327px;
	position: fixed;
}

.tap-target-content {
	width: 456px;
	height: 400px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 56px;
	vertical-align: bottom;
}

.tap-target-wave {
	top: 344px;
	left: 344px;
	width: 112px;
	height: 112px;
}

.tap-target-data {
	margin-left: 60px;
}

.fixed-action-btn {
	bottom: 45px;
	right: 24px;
}

/* Customizações do parallax ('index.html') */
picture.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (min-width : 200px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (min-width : 600px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

/* Customização das verificações e erros ('audit.html')*/
.required_error {
	color: #F44336;
	font-size: 0.8rem;
	margin-top: -18px;
	margin-left: 44px;
}

.required_error_radio {
	color: #F44336;
	font-size: 0.8rem;
	margin-top: 10px;
	margin-left: 44px;
}

/* Classe para esconder o rodapé (usada nas páginas onde é feito uso do handlebars - estratégia para não aparecer o rodapé até que a div de conteúdo tenha sido preenchida) */
.hiddenfooter{
	display: none !important;
}

/* Customizações do modo de impressão */
@media print {
	/* Classe para não mostrar elementos na impressão */
	.hiddenprint {
		display: none !important;
	}
	/* Algumas modificações para diminuir o espaço dos elementos na impressão */
	.card-content {
		max-height: 120px;
		padding: 0;
	}
	.card-action {
		height: 50px;
	}
	* {
		padding: 0;
		margin: 0;
		border: none;
	}
}

/* Classes tomadas do Bootstrap */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}